{% extends 'base.html' %}

{% block content %}



{% for message in messages %}
    <div class="message {{message.tags}}">
        {{message}}
    </div>
{% endfor %}
        
<div class="center">
  <!-- <div class="payment-method">
    <div class="mobile-money">
      <label for="mobile-money">Mobile-Money</label>
      <input type="radio" name="method" id="mobile-money" value="Mobile-Money" checked>
    </div>
    <div class="bank">
      <label for="bank">Bank</label>
      <input type="radio" name="method" id="bank" value="Bank">
    </div>
  </div>  -->
  <h2>Make payment with Momo</h2>
  <br>
  <form id="paymentForm">
    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="email" id="email-address" required />
    </div>
    <div class="form-group">
      <label for="amount">Amount</label>
      <input type="number" id="amount" required min="30" max="30" placeholder="You are required to enter 30" />
    </div>
    <div class="form-group">
      <label for="first-name">First Name</label>
      <input type="text" id="first-name" value="{{request.user.first_name}}"/>
    </div>
    <div class="form-group">
      <label for="last-name">Last Name</label>
      <input type="text" id="last-name" value="{{request.user.last_name}}"/>
    </div>
    <div class="form-submit">
      <button type="submit" onclick="payWithPaystack()"> Pay </button>
    </div>
  </form>
  
  <script src="https://js.paystack.co/v1/inline.js"></script>
  <!-- <form action="" method="POST" class="momoForm">
    <h2>Mobile Money Details</h2>
    
    <label for="accnumber">Account Number</label>
    <input type="number" name="accnumber" id="accnumber" placeholder="0123456789"><br><br>
    <label for="email">Email</label>
    <input type="email" name="email" id="email-ad" placeholder="example@gmail.com"><br><br>
    <label for="amount">Amount</label>
    <input type="number" name="amount" id="amount"><br><br>
    <label for="network-carriers">Select Network</label>
    <select name="network-carriers" id="network-carriers">
      {% for i in response_carriers %}
        <option value="{{i.code}}">{{i.name}}</option>
      {% endfor %}
    </select><br><br>
    <input type="button" value="pay" id="submit">
    <div class="otp">
      <input type="text" id="opt-text" placeholder="Enter OTP"><input type="button" id="opt-btn" value="Send OTP"><input type="hidden" name="ref" id="refrence-code">
    </div>
  </form> -->
  

  <form id="bank-details-form" class="bankForm">
    <h2>Bank Details</h2>
  
    <div class="form-group">
      <label for="account-number">Account Number:</label>
      <input type="text" id="account-number" placeholder="0000 0000 0000 0000" name="account-number" maxlength="19" pattern="[0-9]{16}" required>
    </div><br>
  
    <div class="form-group">
      <label for="birth-day">Birthday:</label>
      <input type="text" id="birth-day" placeholder="YYYY-MM-DD" name="birth-day" maxlength="8" pattern="\d{4}/\d{2}/\d{2}" required>
    </div><br>
  
    
    <div class="form-group">
      <label for="amountBk">Amount:</label>
      <input type="number" id="amountBk" name="amountBk" required>
    </div><br>
    
    <div class="form-group">
      <label for="bank-name">Bank Name:</label>
      <select name="bank-name" id="bank-name">
        {% for i in response_banks %}
          <option value="{{i.code}}">{{i.name}}</option>
        {% endfor %}
      </select>
    </div><br>
    <input type="button" value="pay" id="submitbk">
  </form>

</div><br>

<a href="{% url 'index' %}">Home</a>

{% endblock content %}

